body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control{
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  box-shadow: none !important;
  border-radius: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@1,700&display=swap');
.font {
  font-family: 'Besley', serif;
}